version: "3.8"

services:
  api:
    build: ./api
    ports:
      - "3000:3000"
    depends_on:
      - redis
      - postgres
    environment:
      REDIS_HOST: redis
      DB_HOST: postgres

  worker:
    build: ./worker
    depends_on:
      - redis
      - postgres
    environment:
      REDIS_HOST: redis
      DB_HOST: postgres

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  postgres:
    image: postgres:15
    volumes:
    - postgres_data:/var/lib/postgresql/data
    - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: jobsdb
    ports:
      - "5432:5432"
      
volumes:
  postgres_data: